body{ background: #e5e5e5; display: flex; flex-flow: row wrap; justify-content: center; align-items: center;  height: 100vh; }

.square{ position: relative; margin: 0 0.4rem; width: 50vh; height: 50vh; box-shadow: 0px 0px 0 0 rgba(0,0,0,0.0); transition: all 1s ease; transform-origin: 50% 50%; background: #666; border-radius: 0.25rem }

.square:hover{ z-index: 1; transition: all .15s ease; box-shadow: 0 35px 70px 0px rgba(0,0,0,0.5); }

.one{ background-image: url(https://upload.wikimedia.org/wikipedia/en/1/17/Batman-BenAffleck.jpg); background-size: cover; }

.two{ width: 50vh; background: #333; background-image: url(https://upload.wikimedia.org/wikipedia/en/1/17/Batman-BenAffleck.jpg); background-size: cover; }
s
.three{ background-image: url(https://upload.wikimedia.org/wikipedia/en/1/17/Batman-BenAffleck.jpg); background-size: cover; }